.ovning-4 {
    background-color: rgb(118, 120, 135);
}

.ovning-4 .container {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.288);
}

.ovning-4 .title {
    text-decoration: underline;
}

.ovning-4 .sub-title {
    text-decoration: none;
    text-align: center;
}

.ovning-4 .desc {
    color: rgb(67, 67, 67);
}

.ovning-4 table {
    margin: auto;
    width: 40%;
}

.ovning-4 td {
    width: 25%;
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
}

.ovning-4 .middle {
    width: 10%;
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
}

.ovning-4 .text-left {
    text-align: left;
}

.ovning-4 .text-right {
    text-align: right;
}

.ovning-4 .table-b {
    width: 70%;
}

.ovning-4 .table-b td{
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
}

.ovning-4 .table-b .top{
    vertical-align: top;
}

.ovning-4 .table-b .bottom{
    vertical-align: bottom;
}

.ovning-4 .table-c {
    width: 15%;
    border: 1px;
    border-style: solid;
    border-color: gray;
}

.ovning-4 .table-c td {
    padding: 40px;
}

.ovning-4 .r {
    background-color: red;
}
.ovning-4 .g {
    background-color: green;
}
.ovning-4 .b {
    background-color: blue;
}
.ovning-4 .y {
    background-color: yellow;
}
.ovning-4 .bl {
    background-color: black;
}
