body.ovning-2 
{
    width: 40%;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: black 0em 0em 2em 1em;
    padding: 4em;
}

body.ovning-2 h1 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: red;
}

body.ovning-2 .image-div
{
    text-align: center;
    align-items: center;
}

body.ovning-2 img
{
    border-width: 2px;
    border-style: solid;
    color: black;
} 

body.ovning-2 .bottom
{
    display: grid;
    grid-template-columns: auto 20%  auto;
}

body.ovning-2 .s
{
    margin-right: 100%;
    width: 50%;
}

body.ovning-2 .left
{
    text-align: left;
}
body.ovning-2 .right
{
    text-align: right;
}
body.ovning-2 .center
{
    text-align: center;
}
body.ovning-2 ol
{
    list-style-type:lower-latin;
}
body.ovning-2 .yellow
{
    color: yellow;
}
body.ovning-2 .green
{
    color: green;
}
body.ovning-2 .blue
{
    color: blue;
}
