body {
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(90deg, rgb(16, 0, 58),rgb(19, 1, 11));
    color: white;
}

.container {
    
    text-align: center;
}

.score-text {
    color: white;
}

#game {

    margin: auto;
}