#box1 {
    position: absolute;
    background-color: blue;
    padding-bottom: 50px;
    top: 30px;
    left: 80px;
    width: 200px;
    height: 80px;
    color: white;
    z-index: 1;
}

.pw {
    word-wrap: break-word;
}

#box2 {
    position: absolute;

    background-color: green;
    padding-bottom: 50px;
    left: 150px;
    width: 200px;
    top: 70px;
    z-index: 2;
}

#box3 {
    padding-bottom: 50px;
    position: absolute;
    width: 200px;
    top: 120px;
    left: 100px;
    background-color: yellow;
    z-index: 3;
}

.relative {
    position:relative
}

.volume {
    height: 300px;
}

 .box {
    top:300px;
    padding: 10px;
    width: 500px;
    text-align: end;
    border: red 10px;
    border-style: solid;
    background-image: url("../images/face.jpg");
}

.highlight {
    background-color: yellow;
    letter-spacing: 10px;
}

.cross {
    text-decoration-line: line-through;
}

.last {
    margin-left: 30px;
    margin-top: 100px;
    width: 32em;
    text-indent: 30px;
}


.a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}

.a1 {
    padding: 4px;
    position: absolute;
    top: 100px;
    left: 95px;
    background-color: blue;
    z-index: 3;
}

.a2 {
    padding: 4px;
    position: absolute;
    top: 100px;
    left:200px;
    background-color: red;
    z-index: 100;
}

.a3 {
    padding: 4px;
    position: absolute;
    top: 100px;
    left: 250px;
    background-color: green;
    z-index: 4;
}

.a4 {
    padding: 4px;
    position: absolute;
    top: 100px;
    left: 360px;
    background-color: red;
}

.a5 {
    padding: 4px;
    position: absolute;
    top: 100px;
    left: 450px;
    background-color: green;
}

.second {
    top: 300px;
    left: 600px;
}