.non-ovning
{
    background-color: rgb(23, 22, 24);
    font-family: 'Courier New', Courier, monospace;
}

.non-ovning .index-title
{
    text-align: center;
    color: white;
    font-weight: 600;
    font-style: italic;
}


















.non-ovning div.container
{
    margin: auto;
    margin-top: 3%;
    width: 50%; 
    padding: 30px;
    
    background-color: white;
    box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.322);

    margin-bottom: 10px;
}

.non-ovning div.rounded
{
    border-radius: 7px;
}

.non-ovning a.button
{
    text-decoration: none;
    color: rgb(80, 255, 255);
    background-color: rgb(23, 22, 24);
    padding: 10px;
    border-radius: 4px;
    box-shadow:  2px 2px 1px 1px rgba(0, 0, 0, 0.7);
    row-gap:initial;
    
}

.non-ovning .m {
    margin-top: 40px;
    margin-bottom: 40px;
}

.non-ovning .grid-container
{
    display: grid;
    grid-template-columns: 35% auto;
}

.non-ovning .text-left
{
    text-align: left;
}

.non-ovning .text-right
{
    text-align: right;
}

.non-ovning .b
{
    background-color: black;
}

/* ############################################################# */
/* ############################################################# */
/* ############################################################# */
/* ############################################################# */
/* Ovning 1*/
body.ovning-1
{
    background-color: gray;
    font-family: initial !important;
}

/* ############################################################# */
/* ############################################################# */
/* ############################################################# */
/* ############################################################# */
/* Ovning 2 */
body.ovning-2 
{
    background-color: rgb(23, 22, 24);      
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

body.ovning-2 h1 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: red;
}

body.ovning-2 .image-div
{
    text-align: center;
    align-items: center;
}

body.ovning-2 img
{
    border-width: 2px;
    border-style: solid;
    color: black;
} 

body.ovning-2 .bottom
{
    display: grid;
    grid-template-columns: auto 20%  auto;
}

body.ovning-2 .s
{
    margin-right: 100%;
    width: 50%;
}

body.ovning-2 .left
{
    text-align: left;
}
body.ovning-2 .right
{
    text-align: right;
}
body.ovning-2 .center
{
    text-align: center;
}
body.ovning-2 ol
{
    list-style-type:lower-latin;
}
body.ovning-2 .yellow
{
    color: yellow;
}
body.ovning-2 .green
{
    color: green;
}
body.ovning-2 .blue
{
    color: blue;
}



/* ############################################################# */
/* ############################################################# */
/* ############################################################# */
/* ############################################################# */
/* Ovning 3 */
body.ovning-3
{
    background-color: rgb(23, 22, 24);      
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

body.ovning-3 .container {
    background-color: #ffff99;
}

body.ovning-3 h1 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: red;
}

body.ovning-3 .image-div
{
    text-align: center;
    align-items: center;
}

body.ovning-3 img
{
    border-width: 2px;
    border-style: solid;
    color: black;
} 

body.ovning-3 .bottom
{
    display: grid;
    grid-template-columns: auto 20%  auto;
}

body.ovning-3 .s
{
    margin-right: 100%;
    width: 50%;
}

body.ovning-3 .m
{
    left: auto;
    width: 80%;
}

body.ovning-3 .left
{
    text-align: left;
}
body.ovning-3 .right
{
    text-align: right;
}
body.ovning-3 .center
{
    text-align: center;
}
body.ovning-3 ol
{
    list-style-type:lower-latin;
}
body.ovning-3 .bg-green {
    background-color: rgb(0, 255, 0);
}

body.ovning-3 .spec {
    background-color: red;
    font-size: 16px;
    font-weight: bold;
} 

body.ovning-3 .kod {
    font-family: 'Courier New', Courier, monospace;
}

body.ovning-3 strong {
    font-size: 16px;
}

body.ovning-3 a {
    color:#666666;
    font-size:16px;
    text-decoration:none;
    }

body.ovning-3 a:hover {
    text-decoration:underline overline;
}

/* ############################################################# */
/* ############################################################# */
/* ############################################################# */
/* ############################################################# */
/* Ovning 4 */

.ovning-4 {
    background-color: rgb(118, 120, 135);
}

.ovning-4 .container {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.288);
}

.ovning-4 .title {
    text-decoration: underline;
}

.ovning-4 .sub-title {
    text-decoration: none;
    text-align: center;
}

.ovning-4 .desc {
    color: rgb(67, 67, 67);
}

.ovning-4 table {
    margin: auto;
    width: 40%;
}

.ovning-4 td {
    width: 25%;
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
}

.ovning-4 .middle {
    width: 10%;
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
}

.ovning-4 .text-left {
    text-align: left;
}

.ovning-4 .text-right {
    text-align: right;
}

.ovning-4 .table-b {
    width: 70%;
}

.ovning-4 .table-b td{
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
}

.ovning-4 .table-b .top{
    vertical-align: top;
}

.ovning-4 .table-b .bottom{
    vertical-align: bottom;
}

.ovning-4 .table-c {
    width: 15%;
    border: 1px;
    border-style: solid;
    border-color: gray;
}

.ovning-4 .table-c td {
    padding: 40px;
}

.ovning-4 .r {
    background-color: red;
}
.ovning-4 .g {
    background-color: green;
}
.ovning-4 .b {
    background-color: blue;
}
.ovning-4 .y {
    background-color: yellow;
}
.ovning-4 .bl {
    background-color: black;
}



/* ############################################################# */
/* ############################################################# */
/* ############################################################# */
/* ############################################################# */
/* Ovning 6 */

.ovning-6 #box1 {
    position: absolute;
    background-color: blue;
    padding-bottom: 50px;
    top: 30px;
    left: 80px;
    width: 200px;
    height: 80px;
    color: white;
    z-index: 1;
}

.ovning-6 .pw {
    word-wrap: break-word;
}

.ovning-6 #box2 {
    position: absolute;

    background-color: green;
    padding-bottom: 50px;
    left: 150px;
    width: 200px;
    top: 70px;
    z-index: 2;
}

.ovning-6 #box3 {
    padding-bottom: 50px;
    position: absolute;
    width: 200px;
    top: 120px;
    left: 100px;
    background-color: yellow;
    z-index: 3;
}

.ovning-6 .relative {
    position:relative
}

.ovning-6 .volume {
    height: 300px;
}

.ovning-6  .box {
    top:300px;
    padding: 10px;
    width: 500px;
    text-align: end;
    border: red 10px;
    border-style: solid;
    background-image: url("../images/face.jpg");
}

.ovning-6 .highlight {
    background-color: yellow;
    letter-spacing: 10px;
}

.ovning-6 .cross {
    text-decoration-line: line-through;
}

.ovning-6 .last {
    margin-left: 30px;
    margin-top: 100px;
    width: 32em;
    text-indent: 30px;
}


.ovning-6 .a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}

.ovning-6 .a1 {
    padding: 4px;
    position: absolute;
    top: 100px;
    left: 95px;
    background-color: blue;
    z-index: 3;
}

.ovning-6 .a2 {
    padding: 4px;
    position: absolute;
    top: 100px;
    left:200px;
    background-color: red;
    z-index: 100;
}

.ovning-6 .a3 {
    padding: 4px;
    position: absolute;
    top: 100px;
    left: 250px;
    background-color: green;
    z-index: 4;
}

.ovning-6 .a4 {
    padding: 4px;
    position: absolute;
    top: 100px;
    left: 360px;
    background-color: red;
}

.ovning-6 .a5 {
    padding: 4px;
    position: absolute;
    top: 100px;
    left: 450px;
    background-color: green;
}

.ovning-6 .second {
    top: 300px;
    left: 600px;
}