/* =========================================== */
/* =========================================== */
/* ================= HIGH LEVEL ============== */
/* =========================================== */
/* =========================================== */

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0;
}










/* =========================================== */
/* ============== Site Layout ================ */
/* =========================================== */

.site-layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    margin: 0; 
}

/* =========================================== */
/* ================== Aside ================== */
/* =========================================== */

aside {
    background-color: green;
    grid-column: 1 span;
}

aside nav {
    background-color: purple;
    margin: auto;
    width: 80%;
}

aside nav a {
    display: block;
    background-color: black;
    padding: 1em;
    margin: 0.25em;

}

/* =========================================== */
/* =============== Aside Ad ================== */
/* =========================================== */

aside.ad {
    background-color: purple;
    grid-column: 1 span;
}

/* =========================================== */
/* ================== Header ================== */
/* =========================================== */

header {
    grid-column: 3 span;
    background-color: yellow;
}

/* =========================================== */
/* ================== Footer ================== */
/* =========================================== */

footer {
    grid-column: 3 span;
    background-color: cornflowerblue;
}

/* =========================================== */
/* ================== Main ================== */
/* =========================================== */

main {
    grid-column: 1 span;
    background-color:red;
}







/* =========================================== */
/* ================== Post ================== */
/* =========================================== */

.post-container {
    background-color: brown;
    max-height: 80vh;
    overflow: scroll;
}

.post {
    background-color: gray;
    padding: 3em;
    margin: 3em;
}









/* =========================================== */
/* =========================================== */
/* ============ ELEMENT OVERWRITES =========== */
/* =========================================== */
/* =========================================== */

a {
    text-decoration: 0;
}


/* =========================================== */
/* =========================================== */
/* ================= LOW LEVEL =============== */
/* =========================================== */
/* =========================================== */

