/*
    Color Palate:
    23967F cyan
    FBFFFE white
    80727B gray
    1B1B1E black
    96031A red
*/


:root 
{
    --cyan: #23967F;
    --white: #FBFFFE;
    --gray: #80727B;
    --dark: #1B1B1E;
    --black: #0F0F0A;
    --red: #96031A;
}


body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(135deg, var(--red), purple);
    color: white;
}

.d-block {
    display: block;
}

.container
{
    padding: 1em;
    width: 60%;
    margin: auto;
    border-radius: 0.5em;
    margin: 2em auto;

    background-color: var(--dark);
    color: var(--white);
    box-shadow: 0px 0px 0.5em 0em black;
}


.title
{
    font-size: xx-large;
    text-align: center;
    border-bottom: white 1px solid;
    padding-bottom: 10px;
    letter-spacing: 0.1em;
}

.button
{
    box-sizing: border-box;
    min-width: max-content;
    background-color: var(--gray);
    padding: 0.5em 1em;
    border-radius: 0.25em;
    border-color: var(--white);
    color: var(--black);
    font-size: large;
    text-decoration: none;
    text-align: center;
}

.button.expand
{
    display: block;
}

.button:hover
{
    animation: darken-button 0.15s forwards 1;
}




.button.button-red
{
    background-color: var(--red);
    color: var(--white);
}
.button.button-red:hover
{
    animation: darken-button-red 0.15s forwards 1;
}

.button.button-cyan
{
    background-color: var(--cyan);
    color: var(--white);
}
.button.button-cyan:hover
{
    animation: darken-button-red 0.15s forwards 1;
}

@keyframes darken-button
{
    form {background-color: var(--gray); color: var(--black); outline: 0; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;}
    to {background-color: var(--black); color: var(--white); outline:  var(--white) 1px solid; box-shadow: rgba(0, 0, 0, 0.404) 0px 0px 1em 0.25em;}
}

@keyframes darken-button-red
{
    form {outline: 0; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;}
    to {outline:  var(--white) 1px solid; box-shadow: rgba(0, 0, 0, 0.404) 0px 0px 1em 0.25em;}
}

/*
------------------------------------------------
------------------------------------------------
    Index page
------------------------------------------------
------------------------------------------------
*/

.showcase
{
    background-color: var(--dark);
    padding: 1em;
    border-radius: 1em;
    width: 50%;
    margin: auto;
    margin-bottom: 3em;
    box-shadow: 0px 0px 0.5em 0em black;
}

.showcase h1
{
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
}

.showcase.fit
{
    width: fit-content;
}

.showcase-content
{
    gap: 1em;
    display: flex;
    margin-bottom: 2em;
}

.showcase-content p
{
    width:min-content;
    min-width: 10em;
}

.showcase-content img
{
    width: 15em;
    max-width: 100%;
    border-radius: 1em;
    box-shadow: 0px 0px 0.5em 0em black;
}

.showcase .button
{
    box-shadow: 0px 0px 0.5em 0em black;
}


.slider
{
    color: var(--white);
    height: 32em;
    margin-bottom: 5em;
    display: grid;
    grid-template-rows: auto auto;
}

.slide#current
{
    position: relative;
    display: block;
    margin: auto;
    animation: slide-slide-in 1s forwards 1;
}

.slide:not(#current)
{
    display: none;
}

@keyframes slide-slide-in
{
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.next
{
    
    width: 8em;
    box-shadow: 0px 0px 0.5em 0em black;
}

.prev
{
    width: 8em;
    box-shadow: 0px 0px 0.5em 0em black;
}

.slider-buttons
{
    display: flex;
    gap: 2em;
    
    justify-content: center;
    align-items: flex-end;
}

.slider-buttons .button
{
    height: 3em;
    border: 0;
}








/*
------------------------------------------------
------------------------------------------------
    Ovning page
------------------------------------------------
------------------------------------------------
*/

.ovning-selection
{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 40%;
    margin: auto;
    margin-bottom: 2em;
}

