body
{
    background-image: linear-gradient(45deg, gray, black);
}

.container
{
    background-color: beige;
    margin: auto;
    margin-top: 8em;
    width: 80%;
}

img
{
    width: 90%;
    padding: 1em;
    background-color: black;
}

.images
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2em;
    margin: 2em;
}